@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--AzulProfundo);
  color: var(--Branco);
}

:root {
  --AzulProfundo: #032B44;
  --VerdeLimão: #34C759;
  --Azul-VerdeClaro: #45B3FA;
  --Ciano: #00BFFF;
  --Verde-Azul: #0097A7;
  --Turquesa: #1ABC9C;
  --Azul-VerdeEscuro: #2E865F;
  --Branco: #FFFFFF;
}

/* Fundo do header */
header {
  background-color: #39759c;
  padding: 0px 0;
}

/* Classe reutilizável */
.container {
  max-width: 1440px;
  padding: 0 15%;
  margin: 0 auto;
}

/* Botão com gradiente */
.btn-gradient {
  padding: 10px 25px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: var(--Verde-Azul);
  transition: background-color 0.3s ease-in-out;
  transition: 1s; /* Corrigido */
}

.btn-gradient:hover {
  background-color: var(--VerdeLimão);
  transform: scale(1.1);
}

/* Navegação */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.logo a {
  font-size: 20px;
  font-weight: bold;
  color: var(--Branco);
  border-radius: 30%;
  transition: transform 1s;
}

.logo:hover {
  transform: scale(1.1);
  border-radius: 20px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li {
  margin: 0 20px;
  font-size: 15px;
  color: var(--Branco);
  transition: 0.5s; /* Corrigido */
}

ul li a {
  color: var(--Branco);
}

/* Imagem AMAF */
.amaf {
  width: 20%;
  height: auto;
  align-items: center;
  padding: 10px;
}

/* Main */
main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  height: 70vh;
}

.main-txt {
  width: 50%;
  color: var(--Branco);
}

.main-txt h1 {
  font-size: 4rem;
}

.main-txt h2 {
  font-size: 2rem;
  margin-top: 10px;
}

.main-txt div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.main-img {
  width: 50%;
}

.main-img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 600px;
  border-radius: 5%;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .main-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }
  .main-img {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .main-img img {
    margin: 0 auto;
  }
}

.social-icon {
  color: var(--Branco);
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.social-icon i {
  margin-right: 5px;
}

.social-icon:hover {
  color: var(--VerdeLimão);
}

.sub-txt {
  position: relative;
  width: 16vw;
  height: 12vh;
  background-color: rgb(23, 23, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  z-index: 1;
  color: transparent;
  background: linear-gradient(45deg, #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000, #ffff00);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animarTexto 5s linear infinite;
  margin: 10px 0;
}

@keyframes animarTexto {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 300%;
  }
}

/* menu icon */
.menu-icon {
  display: none;
  position: relative;
  z-index: 10;
}

/* Responsivo */
@media (max-width: 960px) {
  .menu-icon {
    display: block;
  }
  .ul {
    position: fixed;
    background-color: #2E865F;
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    transition: 0.3s;
    flex-direction: column;
    justify-content: center;
  }
  .ul li {
    font-size: 20px;
    margin: 20px 0;
  }
  .ul.ativo {
    left: 0;
  }
  main .container { /* Corrigido de mains */
    flex-direction: column;
  }
  main .container .main-img {
    width: 100%;
  }
  main .container .main-txt {
    width: 100%;
    text-align: center;
  }
  main .container .main-txt h1 {
    font-size: 4rem;
  }
  main .container .main-txt div {
    justify-content: center;
  }
}
